<div class="mockup-phone absolute top-[15%] right-10 z-50">
  <div class="camera"></div> 
  <div class="display">
    <div class="artboard artboard-demo phone-1 bg-slate-900">
      <img src="/public/screenshots/mobile.png" alt="">
    </div>
  </div>
</div>