<nav
  class=""
>
  <ul class="flex gap-4">
    <li class="text-lg font-bold dark:text-white cursor-pointer">
      <a class="hover:text-yellow-400" href="/">Sobre mi</a>
    </li>
    <li class="text-lg font-bold dark:text-white cursor-pointer">
      <a class="hover:text-yellow-400" href="/blog">Devblog</a>
    </li>
  </ul>
</nav>
